< class="container">
  <div class="title">
    <div class="title_icon"></div>
    <span class="title_text">FAQ</span>
  </div>
  <div class="question">

  </div>
  <hr>
  <h3>자주하는 질문</h3>
  <div class="faq">
    <clr-accordion>
      <clr-accordion-panel>
        <clr-accordion-title>계정 관련</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>결제 관련</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>이벤트 응모 관련</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>캠핑장 문의</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>제휴 문의</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>카페 관련 문의</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title> 결제 수단 관련</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>\
          Ipro
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  </div>