<div class="container">
  <div class="container_title">
    <div class="title">
      <div class="title_icon"></div>
      <span class="title_text">스캠 정보</span>
    </div>
  </div>
  <div class=" company_intro">
    <hr>
    <table class="table table-vertical companytable table-noborders">
      <tbody>
        <tr>
          <th>회사 명</th>
          <td>Starlight Camping</td>
        </tr>
        <tr>
          <th>대표 이사</th>
          <td>임동균</td>
        </tr>
        <tr>
          <th>대표 전화</th>
          <td>T : +82 0 0000 0000 | F : +82 0 0000 0000</td>
        </tr>
        <tr>
          <th>회사 위치</th>
          <td>서울특별시 동작구 흑석동 278</td>
        </tr>
        <tr>
          <th>이메일</th>
          <td>Quantumsurf@gmail.com</td>
        </tr>
        <tr>
          <th>개인정보 관리책임</th>
          <td>변진원</td>
        </tr>
        <tr>
          <th>호스팅제공</th>
          <td>별빛이닿을때(주)</td>
        </tr>
        <tr>
          <th>사업자 번호</th>
          <td>1123581321</td>
        </tr>
        <tr>
          <th>통신판매업신고</th>
          <td>제2017-흑석-3154호</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container_title">
    <div class="title">
      <div class="title_icon1"></div>
      <span class="title_text1">고객님들에게 전해드리고 싶은 말</span>
    </div>
  </div>
  <div class="text">
    <span>안녕하십니까 여러분 starlightCamping 대표 임동균입니다.</span><br>
    <span>봄 여름 가을 겨울 언제든 캠핑을 떠날 수 있습니다.</span><br>
    <span>starlight Camping(스캠)에서 여러분이 원하시는 캠핑장 쉽고 빠르고 싸게 예약하시고 여행을 가시면 하는 마음에 </span><br>
    <span>서비스를 시작하게되었습니다.</span> <br>
    <span>서비스를 이용해주시고 있는 고객님들이 starlight Camping(스캠)에서 즐겁고 행복하고 낭만있는 추억들 많이 쌓으셨으면 좋겠습니다.</span> <br>
    <span>저희 starlight Camping(스캠) 고객 여러분을 위해 항상 최고의 서비스를 제공할 수 있도록 노력하겠습니다.</span> <br>
    <span>앞으로도 소비자분들의 넘버원 캠핑사이트가 되도록 노력하겠습니다 감사합니다!</span>
  </div>
</div>