clr-datagrid {
  height: 450px;
}
.title_text {
  margin-bottom: 0px;
}
hr {
  width: 650px;
  position: absolute;
  height: 3px;
  background-color: #131313;
}
.content {
  margin: 20px 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  overflow-y: scroll;
}
span {
  margin-bottom: 10px;
}
h3,
h5 {
  font-weight: bold;
}
.footer {
  border-top: 3px solid black;
  display: flex;
  justify-content: space-between;
}
img {
  width: 500px;
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title_text {
  font-weight: bolder;
}
