<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalClosable]="true" [clrModalSize]="'xl'">
  <div class="modal-title">
    <div class="container_title">
      <div class="title_icon"></div>
      <span class="title_text"> 스캠 공지사항</span>
    </div>
  </div>
  <div class="modal-body">
    <div class="datatable">
      <clr-datagrid class="customgrid sengee" #cDataGrid [(clrDgSingleSelected)]="cSelection" [clrDgRowSelection]="true"
        [clrDgLoading]="cDataLoading">
        <clr-dg-column>주제</clr-dg-column>
        <clr-dg-column style="min-width: 600px;">글 제목</clr-dg-column>
        <clr-dg-column>파일</clr-dg-column>
        <clr-dg-column>작성자</clr-dg-column>
        <clr-dg-column>날짜</clr-dg-column>
        <clr-dg-row *ngFor="let notices of notices" [clrDgItem]="noticeList">
          <clr-dg-cell>{{notices.title}}</clr-dg-cell>
          <clr-dg-cell style="min-width: 600px;">{{notices.content}}</clr-dg-cell>
          <clr-dg-cell>null</clr-dg-cell>
          <clr-dg-cell>{{notices.writer}}</clr-dg-cell>
          <clr-dg-cell>{{notices.create}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-placeholder>공지사항이 없어여~!</clr-dg-placeholder>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="pagenationSize"
            [clrDgTotalItems]="totalCount">
            {{((page - 1) * pagenationSize) + 1}} - {{(page - 1) * pagenationSize + 1 + pagenationSize}}
            of more [total {{totalCount}}]
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</clr-modal>