.password-content {
  margin-top: 20px;
}

label,
clr-icon {
  color: black;
  fill: rgb(0, 146, 146);
}
.eyebtn {
  color: aqua;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: none;
  border: none;
}
.clr-input:not([readonly]),
clr-control-error {
  width: 350px;
  margin-left: -50px;
}
.btext {
  font-weight: bold;
  color: black;
  font-size: 15px;
}
