<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" [clrModalClosable]="true">
  <div class="modal-title ">
    <div class="modal-title-icon icon-password"></div>
    <div class="title-text">비밀번호 변경</div>
  </div>
  <div class="modal-body body-format">
    <div class="clr-row">
      <div class="clr-col-12" class="password-content">
        <p class="btext">새롭게 변경할 비밀번호를 입력하세요</p>
        <form #modalFrom="ngForm" class="clr-form clr-form-horizontal">
          <div class="clr-form-control">
            <label class="required clr-control-label">*기존 비밀번호</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input class="clr-input pwd-input" [type]="show1?'text':'password'" required name="password"
                  id="password" placeholder='Password' (blur)='handleValidation("password", true)'>
                <clr-icon *ngIf="!show1" shape="eye" class="pw-eye" (click)="show1 =!show1"></clr-icon>
                <clr-icon *ngIf="show1" shape="eye-hide" class="pw-eye" (click)="show1 =!show1"></clr-icon>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <clr-control-error>
                현재 사용하고 있는 비밀번호를 입력하시오.
              </clr-control-error>
            </div>
          </div>
          <div class="clr-form-control">
            <label class="required clr-control-label">*신규 비밀번호</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input class="clr-input pwd-input" [type]="show1?'text':'password'" required name="password"
                  id="password" placeholder='Password' (blur)='handleValidation("password", true)' pattern=reg>
                <clr-icon *ngIf="!show2" shape="eye" class="pw-eye" (click)="show2 =!show2"></clr-icon>
                <clr-icon *ngIf="show2" shape="eye-hide" class="pw-eye" (click)="show2 =!show2"></clr-icon>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <clr-control-error>
                새로운 비밀번호를 입력하시오 (소문자,대문자,숫자를 조합하여 쓰시오)
              </clr-control-error>
            </div>
          </div>
          <div class="clr-form-control">
            <label class="required clr-control-label">*신규 비밀번호 확인</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input class="clr-input pwd-input" [type]="show1?'text':'password'" required name="password"
                  id="password" placeholder='Password' (blur)='handleValidation("password", true)' pattern=reg>
                <clr-icon *ngIf="!show3" shape="eye" class="pw-eye" (click)="show3 =!show3"></clr-icon>
                <clr-icon *ngIf="show3" shape="eye-hide" class="pw-eye" (click)="show3 =!show3"></clr-icon>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <clr-control-error>
                새로운 비밀번호를 재입력하시오.
              </clr-control-error>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primaryoutline" (click)="close1()">수정</button>
    <button class="btn btn-outlinee" (click)="close()">닫기</button>
  </div>
</clr-modal>