<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" [clrModalClosable]="true">
  <div class="modal-title">
    <clr-icon shape="cog"></clr-icon>
    <span class="modal-text">비밀번호 수정</span>
  </div>
  <div class="modal-body">
    <p class="btext">새롭게 변경할 비밀번호를 입력하세요</p>
    <form clrForm>
      <clr-password-container>
        <label>현재 비밀번호</label>
        <input clrPassword placeholder="현재 사용하고 있는 비밀번호를 입력하시오." [(ngModel)]="password1" name="password" required />
        <clr-control-helper>
          현재 사용하고 있는 비밀번호를 입력해주시길 바랍니다.
        </clr-control-helper>
        <clr-control-error *clrIfError="'minlength'">현재 사용하고 있는 비밀번호를 입력해주시길 바랍니다.</clr-control-error>
      </clr-password-container>
      <clr-password-container>
        <label>신규 비밀번호</label>
        <input clrPassword placeholder="새롭게 쓸 비밀번호를 입력하시오." [(ngModel)]="password2" name="password" required
          minlength="10" />
        <clr-control-helper>
          영문자, 숫자를 조합하여 10자 이상으로 비밀번호를 작성해주시오.
        </clr-control-helper>
      </clr-password-container>
      <clr-password-container>
        <label>비밀번호 확인</label>
        <input clrPassword placeholder="Password" [(ngModel)]="password3" name="비밀번호를 한번 더 입력해주시길 바랍니다." required
          minlength="10" />
        <clr-control-helper>
          신규 비밀번호를 다시 한번 더 입력해주시오.
        </clr-control-helper>
        <clr-control-error *clrIfError="'minlength'">비밀번호가 일치하지않습니다.</clr-control-error>
      </clr-password-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primaryoutline" (click)="close1()">수정</button>
    <button class="btn btn-warning-outline" (click)="close()">닫기</button>
  </div>
</clr-modal>