.password-content {
  margin-top: 20px;
}
.clr-input:not([readonly]),
clr-control-error {
  width: 350px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.modal-title clr-icon {
  width: 35px;
  height: 35px;
  fill: black;
  margin-right: 5px;
}
.btext {
  font-weight: bold;
  color: black;
  font-size: 15px;
}
clr-icon {
  width: 20px;
  height: 20px;
  fill: rgb(0, 255, 247);
  margin-right: 20px;
}
clr-input-group {
  background-color: transparent;
}
.password-content form {
  margin-left: 10px;
  margin-top: 20px;
}
.clr-form {
  margin-top: 20px;
  padding-left: 20px;
}
