<div class="about">
  <div id="title" class="slide header">
    <h1>캠핑 가이드북</h1>
  </div>

  <div id="slide1" class="slide slide1">
    <div class="title">
      <h2>캠핑이란</h2>
      <pre class="pre">
<h4>캠핑이란</h4> 캠핑의 사전적 정의는 텐트나 임시로 지은 초막 등에서 일시적인 야외생활을 하는 여가활동이다. 조금 더 풀어보자면,
집과 도시를 벗어나 자연 속에 마련한 임시거처에 머무르면서 사람과의 우정을 돈독히 하고 자연을 느끼며 배우는 것이라 할 수 있다.
특히, 도시화가 급속히 진행되면서 대부분의 현대인은 마음 한구석에 자연에 대한 동경을 품게 되었다.
자연의 일부임에도 자연과 격리된 존재로 살아가는 도시인들은 누구나, 인공의 장벽 이 없는 자연으로 돌아가 마음을 치유하고 다양한 야외활동을 즐기면서 휴식하고 싶 은 욕망이 있는 것이다. 이런 현대인의 자연에 대한 동경과 갈증을
풀어 주는 활동 중 하나가 캠핑이다. 최근에는 캠핑의 교육적 가치가 새롭게 주목받고 있다.

캠핑은 콘 크리트 속에 갇혀 사는 아이들에게 흙을 밟고, 자연의 기운을 느낄 수 있는 기회를 제공한다.
또한 아이들 이 사회에 눈을 뜨고, 독립성을 기르게 한다. 어른들에게 자녀와 함께 하 는 캠핑은 새롭게 가족애를 느낄 수 있는 기회를 제공한다.
캠핑은 또 야외활동을 위 한 전진기지 역활도 한다. 캠핑을 떠나면 도심에서는 불가능한 다양한 활동, 예를 들 어 등산이나 수영, 낚시, 산악자전거, 래프팅, 야생화관찰, 조류관찰, 별자리관찰, 역사기행, 사진 촬영 등 자연과 친해지면서 견문을 넓힐 수 있는 야외활동을 경험할 수 있다.
이처럼 캠핑은 현대화가 진행될수록 점점 그 가치를 인정받고 있다. 특히, 후진국 보 다는 선진국으로 갈수록 캠핑에 대한 수요가 많고 캠핑문화 또한 진일보해 있다. 캠핑은 미래사회로 갈수록, 첨단화와 도시화로 자연과 멀어질수록 그 가치를 더 인정 받을 것이다.
    </pre>
    </div>
  </div>

  <div id="slide2" class="slide">
    <div class="title">
      <h2>캠핑의 장점</h2>
      <pre class="pre"><h3>1. 가족기능의 강화</h3>1) 온가족이 참여 가능하다.
2) 개인취미가 아닌 가족 모두가 함께 계획하고 준비하는 가족들의 공동취미이다.
3) 가족들의 공동취미로 결속력이 강화된다.
4) 부부관계 증진 및 향상
- 운전하기, 텐트치기, 장비셋팅, 불 피우기, 고기 굽기 등 남성의 역할이 강조된다.
- 집에서는 가사노동을 아내가 담당 하였지만 캠핑장에서는 대부분 남편이 역할을 맡는다.
  따라서 아내는 스트레스가 풀어지고 남편에게 고마움과 사랑스러운 마음이 생겨난다.
  또한 맛있는 음식을 함께 만들어 먹으며 웃고 떠들고, 자녀들의 뛰어노는 모습을 바라보며
  삶의 보람과 행복을 느낄 수 있다.
5) 유대관계를 높여준다.
- 부모님의 원초적인 역할분담을 아이들에게 보여줌으로써 사회성을 길러주게 되며
  부부간의 어려운 갈등을 터놓고 해결할 수 있는 기회가 된다.
<h3>2. 자연을 느낄 수 있다.</h3> 1) 스트레스와 공해로 부터의 일상탈출
- 사계절을 온몸으로 느낌으로써 다양한 감동을 받게 된다.
2) 자녀들의 자연학습장이 된다.
- 책속에서나 간접적으로 경험했던 자연을 직접 보고, 만지고, 냄새맡고,
  관찰하며 직접 느낄 수 있다.
3) 아이들에게 창의력과 관찰력을 키워준다.
- 아이들이 도심속에서 느낄 수 없는 자연을 만지고 느낌으로써 활동적이어지고
  자연의 소중함을 깨우치고 관찰력과 창의력을 키우는데 도움이 된다.
<h3>3. 여가생활을 만끽 할 수 있다.</h3> 1) 다양한 취미를 캠핑에 융합시킬 수 있다.
- 등산, 자전거, 낚시, 여행, 운동, 사진 등 결합과 응용 가능
2) 사색과 명상의 시간을 가질 수 있다.
- 자연속에서 책을 읽거나 경치를 보며 복잡한 생각을 정리하는데 도움이 되고
  심신의 안정을 찾는데 도움이 된다.
    </pre>
    </div>
  </div>
  <div id="slide3" class="slide">
    <div class="clr-row title">
      <h2>캠핑 준비물 완벽 리스트!</h2>
      <div class="asd">
        <pre class="clr-col-6 pre"><h4>텐트 및 취침도구</h4><h5>(생활용품)</h5> - 이불 / 베개 / 담요
<h5>(캠핑용품)</h5> - 텐트 -  전기요 / 스트링 / 에어매트 / 방수포 /
돗자리 / 망치
<h4>의자 및 테이블</h4><h5>(캠핑용품)</h5> - 캠핑 의자 / 테이블
<h4>옷</h4><h5>(생활용품)</h5>- 잠옷 / 계절에 맞는 옷 / 바람막이 /
속옷 / 모자 / 양말
<h4>여름용품</h4><h5>(생활용품)</h5>- 수영복 / 튜브
<h4>비상약</h4>- 반창고 , 소독알콜,  연고, 두통약 ,
소화제, 스프레이파스 등등..
</pre>
        <pre class="clr-col-6 pre">
<h4>주방용품</h4><h5>(생활용품)</h5>- 도마 / 칼 / 양념 / 부탄가스 / 수세미, 주방세제 / 키친타올 / 비닐팩 / 비닐장갑 / 집게 / 가위 / 종이컵 / 나무젓가락 / 수저 / 냄비 / 후라이팬 / 쿠킹호일
<h5>(캠핑용품)</h5>- 식기세트 / 설거지통 / 설거지건조망 / 구이바다 토치 / 화로대 / 해바라기 버너 / 그리들 / 아이스박스 / 숯집게
<h4>음식</h4> - 쌀 / 라면 / 김치 / 물 / 고기 / 야채 등등  (음식은 개인선택 사항)
<h4>기타</h4>(생활용품)- 모기향 / 모기기피제 / 수건 / 샴프, 바디워시, 칫솔, 치약 / 로션 / 선크림 / 장갑 / 물티슈 / 휴지 / 슬리퍼 / 운동화 / 배터리
<h5>(캠핑용품)</h5> - 써큘레이터 / 랜턴 / 릴선 / 멀티탭 / 폴딩 박스 / 블루투스 스피커 / 랜턴걸이
</pre>
      </div>
    </div>
  </div>
  <div id="slide4" class="slide header">
    <h1>떠날 준비 완료</h1>
  </div>
</div>