.deletebtn {
  width: 120px;
  height: 50px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #eee;
  color: #131313;
  display: flex;
  right: 5px;
  bottom: 5px;
  padding-left: 5px;
  position: absolute;
  align-items: center;
  text-align: center;
  outline: none;
}
.deletebtn:hover {
  opacity: 0.7;
}
.list {
  display: flex;
  align-items: start;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
  flex-wrap: inherit;
}
.list-text {
  margin-left: 10px;
  font-size: 1.1em;
}
.favorite-item {
  margin-top: 20px;
}
.list-img {
  width: 330px;
  height: 300px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
span {
  color: black;
}
.address {
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.text {
  top: 10px;
  position: relative;
}
h3 {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}
