<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" *ngIf="assetList[0]">
  <h3 class="modal-title">{{assetList[0].id}}</h3>
  <div class="modal-body">
    <div class="clr-row">
      <h4>Asset Info</h4>
      <span class="clr-col-12">Type : {{type}}</span>
      <span class="clr-col-12">Path : {{path}}</span>
      <span class="clr-col-12">FileName : {{filename}}</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-danger" (click)="deleteAsset(assetList[0].id)">Delete</button>
    </div>
  </div>
</clr-modal>