<div class="container">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="intro">
        <h1>{{name}}</h1>
      </div>
      <div style="width: 95%; height: 100%; text-align:center;margin:auto; justify-content: center; padding:0;">
        <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
          [imageSize]="{width: '100%', height: 500}" slideImage="1"></ng-image-slider>
      </div>
    </div>
    <div class="clr-col-12">
      <nav class="menubar">
        <div class="row">
          <div class="dropdown-menus">
            <ul class="menus">
              <li>Starlight SNS</li>
              <li>Starlight Event</li>
              <li>Camp Reserve</li>
              <li>Camp Search</li>
              <li>My page</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="clr-col-3 event-tabs">
      <div>
        <h3 class="title">스캠 이벤트 & 공지</h3>
        <clr-tabs>
          <clr-tab>
            <button clrTabLink id="link1">이벤트</button>
            <clr-tab-content id="content1">
              <div class="link" *ngFor="let event of event">
                <a href="#">{{event.title}} &nbsp; {{event.content}}</a>
              </div>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>공지</button>
            <clr-tab-content>
              <div class="link" *ngFor="let notice of notices">
                <a href="#">{{notice.title}} &nbsp; {{notice.content}}</a>
              </div>
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>
      </div>
    </div>
    <div class="clr-col-4 event-tabs">
      <div>
        <h3 class="title">스캠 SNS에서 불타는 게시물</h3>
        <app-hot-sns />
      </div>
    </div>
    <div class="clr-col-5 Camp-tabs">
      <div>
        <h3 class="title">스캠이 추천하는 캠핑 명소</h3>
        <clr-tabs>
          <clr-tab>
            <button clrTabLink>글램핑</button>
            <clr-tab-content *clrIfActive="true">
              <app-glamping />
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink id="link1">바다</button>
            <clr-tab-content *clrIfActive="false">
              <app-ocean />
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>산</button>
            <clr-tab-content *clrIfActive="false">
              <app-mountain />
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>
      </div>
    </div>
  </div>
</div>