input{
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid #eee;
  color: #eee;
  width: 390px;
  outline:none;
  background-color: transparent;
}
clr-select-container{
  margin-left: 0px;
}
select{
  width: 390px;
}


