<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
  <div class="modal-title">
    <clr-icon shape="info"></clr-icon>
    Create New Assets
  </div>
  <div class="modal-body body-format">
    <form clrForm clrLayout="horizontal" class="clr-form" #createForm="ngForm">
      <div class="selector">
        <clr-select-container>
          <label>Type</label>
          <select clrSelect name="options" class="option-select" [(ngModel)]="datatype" required>
            <option value="none" selected>
              --select--
            </option>
            <option value="json">
              Custom Datasource Config (JSON)
            </option>
            <option value="get">
              REST-API Endpoint (GET)
            </option>
          </select>
          <clr-control-error>You must select option</clr-control-error>
        </clr-select-container>
      </div>
      <div class="clr-form-control" *ngFor="let item of jsonForm" [hidden]="datatype !== 'json'">
        <label class="required clr-control-label" [ngClass]="item.require?'form-required':''">{{item.text?.toUpperCase()}}</label>
        <div class="clr-control-container" [class.clr-error]='item.require && getValidationState(item.name!)'>
          <div class="clr-input-wrapper">
            <input type="text" required [pattern]="item.regex!"
              [maxlength]="item.max!" #usernameInput="ngModel" [name]="item.name!" [ngModel]="getFormModel(item.name!)"
              [id]="item.name!" (input)='handleValidation(item.name! , false)' [readOnly]="item.readonly == true">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <!-- <span class="spinner spinner-inline spinner-pos" [hidden]='isChecking("name")'></span> -->
          </div>
          <clr-control-error *ngIf='item.require &&  getValidationState(item.name!)'>
            <span>please input</span>
          </clr-control-error>
        </div>
      </div>
      <div class="clr-form-control" *ngFor="let item of getForm" [hidden]="datatype !== 'get'">
        <label class="required clr-control-label"
          [ngClass]="item.require?'form-required':''">{{item.text?.toUpperCase()}}</label>
        <div class="clr-control-container" [class.clr-error]='item.require && getValidationState(item.name!)'>
          <div class="clr-input-wrapper">
            <input type="text" required [pattern]="item.regex!"
              [maxlength]="item.max!" #usernameInput="ngModel" [name]="item.name!" [ngModel]="getFormModel(item.name!)"
              [id]="item.name!" (input)='handleValidation(item.name! , false)' [readOnly]="item.readonly == true">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <!-- <span class="spinner spinner-inline spinner-pos" [hidden]='isChecking("name")'></span> -->
          </div>
          <clr-control-error *ngIf='item.require &&  getValidationState(item.name!)'>
            <span>please input</span>
          </clr-control-error>
        </div>
      </div>
    </form>
    <div class="setbtn">
      <button class="btn btn-outline" (click)="addAsset()">Create</button>
      <button class="btn btn-warning-outline" (click)="close()">Cancel</button>
    </div>
  </div>
</clr-modal>
