<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
  <div class="modal-title">
    <div class="enrollment"></div>
    Create Asset
  </div>
  <div class="modal-body body-format">
    <form clrForm clrLayout="horizontal" class="clr-form" #createForm="ngForm">
      <form class="clr-form-control" *ngFor="let item of newForm" #newForm="ngForm">
        <label class="required clr-control-label"
          [ngClass]="item.require?'form-required':''">{{item.text?.toUpperCase()}}</label>
        <div class="clr-control-container" [class.clr-error]='item.require && getValidationState(item.name!)'>
          <div class="clr-input-wrapper">
            <input type="text" required [pattern]="item.regex!" [maxlength]="item.max!" #usernameInput="ngModel"
              [name]="item.name!" [ngModel]="getFormModel(item.name!)" [id]="item.name!"
              (input)='handleValidation(item.name! , false)' [readOnly]="item.readonly == true">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <!-- <span class="spinner spinner-inline spinner-pos" [hidden]='isChecking("name")'></span> -->
          </div>
          <clr-control-error *ngIf='item.require &&  getValidationState(item.name!)'>
            <span>please input {{item.name}}</span>
          </clr-control-error>
        </div>
      </form>
    </form>
    <div class="setbtn">
      <!-- <button class="btn btn-outline" (click)="createasset()">Create</button> -->
      <button class="btn btn-warning-outline" (click)="close()">Cancel</button>
    </div>
  </div>
</clr-modal>
