.clr-input:not([readonly]),
clr-control-error {
  width: 350px;
  margin-left: 50px;
}
.password-content {
  margin-top: 20px;
}
.clr-form {
  position: relative;
  margin-left: 10px;
}
.btext {
  font-weight: bold;
  color: black;
  font-size: 15px;
}
.modal-footer {
  margin-top: 20px;
}
