<app-create-asset #createasset></app-create-asset>
<div class="container">
  <div class="container_title">
    <div class="title_icon"></div>
    <span class="title_text"> Assets </span>
  </div>
  <div class="search-tool">
    <input class="search_input" type="search" [(ngModel)]="searchText" placeholder="Search Assets" rel="search"/>
    <button type="button" class="createbtn btn-primary" (click)="createbtn()"> ⊕ Create Asset</button>
  </div>
  <div class="data-area">
    <div class="dataset" *ngFor="let assets of assets | filter:searchText">
      <div class="dataset_title">
        <div class="dataset_icon"></div>
        <div class="text">
          <span class="dataset_id">{{assets.assets_id}}</span> <br>
          <span class="dataset_text">{{assets.assets_title}}</span>
        </div>
      </div>
      <div class="dataset_content">
        <span>{{assets.assets_sub}}</span>
        <span>{{assets.assets_content}}</span>
      </div>
    </div>
  </div>
</div>
