.card {
  margin-left: 0px;
  min-width: 455px;
}
.textarea {
  margin-top: -20px;
  width: 510px;
  height: 340px;
  color: black;
  background: #eee;
  resize: none;
}
.enrollment-input label{
  margin-top: 80px;
  width: 350px;
}
