.card {
  margin-left: 0px;
  width: 32.5%;
}
textarea {
  margin-top: -20px;
  width: 510px;
  min-height: 340px;
  color: white;
  background: #eee;
  resize: none;
}
.enrollment-input label{
  width: 350px;
}  
.expression{
  margin-top: 10px;
}
h3{
  margin-bottom: 10px;
}