<app-create-definitions #definitions></app-create-definitions>
<div class="container">
  <div class="container_title">
    <div class="title_icon"></div>
    <span class="title_text"> Contract Definition </span>
  </div>
  <div class="tool">
    <div class="search-tool">
      <input class="search_input" type="search" [(ngModel)]="searchText" placeholder="Search Catalog Browser"
        rel="search" />
      <!-- <button type="button" class="searchbtn" (click)="searchasset()"></button> -->
      <button type="submit" class="createbtn" (click)="createbtn()"></button>
    </div>
    <div class="cardgrid">
      <span class="list-btn" (click)="showCard(false)" (mouseenter)="mouseEnter('list')"
        (mouseleave)="mouseLeave('list')">
        <clr-icon [ngClass]="{ 'is-highlight': !isCardView || isHovering('list')}" shape="view-list"></clr-icon>
      </span>
      <span class="card-btn" (click)="showCard(true)" (mouseenter)="mouseEnter('card')"
        (mouseleave)="mouseLeave('card')">
        <clr-icon [ngClass]="{'is-highlight': isCardView || isHovering('card')}" shape="view-cards"></clr-icon>
      </span>
      <span class="filter-divider"></span>
      <span class="refresh-btn"><clr-icon class="refresh" shape="refresh" (click)="onrefresh()"></clr-icon></span>
    </div>
  </div>
  <div class="data-area" *ngIf="!isCardView">
    <div class="dataset_title">
      <div class="dataset_icon"></div>
    </div>
  </div>
  <div class="data-area" *ngIf="isCardView">
    <!-- <div class="card">
      <div class="card-block">
        <h3 class="card-title">Contract Definition ID</h3>
        <div class="card-text">
          <h4>Definitions ID</h4>
          <div class="id-list">
            <div class="clr-row">
              <div class="clr-col-6">
                <span>access_policy_id</span>
              </div>
              <div class="clr-col-6">
                <span>contract_policy_id</span>
              </div>
            </div>
          </div>
          <h4>Validity</h4>
          <div class="validity">
            <span>Validity</span>
          </div>
          <h4>Selector Expression</h4>
          <div class="expression">
            <clr-accordion>
              <clr-accordion-panel>
                <clr-accordion-title>Details</clr-accordion-title>
                <clr-accordion-content *clrIfExpanded>
                  Selector Expression
                  Content Details
                </clr-accordion-content>
              </clr-accordion-panel>
            </clr-accordion>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <label>Create Date</label>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div> -->
  </div>
</div>
