<app-create-definitions #definitions></app-create-definitions>
<div class="container_title">
  <div class="title_icon"></div>
  <span class="title_text"> Contract Definition </span>
</div>
<div class="tool">
  <div class="search-tool">
    <input class="search_input" type="search" [(ngModel)]="searchText" placeholder="Search Catalog Browser"
      rel="search" />
    <!-- <button type="button" class="searchbtn" (click)="searchasset()"></button> -->
    <button type="submit" class="createbtn" (click)="createbtn()"></button>
  </div>
  <div class="cardgrid">
    <span class="list-btn" (click)="showCard(false)" (mouseenter)="mouseEnter('list')"
      (mouseleave)="mouseLeave('list')">
      <clr-icon [ngClass]="{ 'is-highlight': !isCardView || isHovering('list')}" shape="view-list"></clr-icon>
    </span>
    <span class="card-btn" (click)="showCard(true)" (mouseenter)="mouseEnter('card')" (mouseleave)="mouseLeave('card')">
      <clr-icon [ngClass]="{'is-highlight': isCardView || isHovering('card')}" shape="view-cards"></clr-icon>
    </span>
    <span class="filter-divider"></span>
    <span class="refresh-btn"><clr-icon class="refresh" shape="refresh" (click)="onRefresh()"></clr-icon></span>
  </div>
</div>
<div *ngIf="!isCardView">
  <div class="data_table">
    <clr-datagrid class="customgrid sengee" #cDataGrid [clrDgLoading]="cDataLoading"
      (clrDgRefresh)="getRequestDefintion()" [clrDgRowSelection]="true" [(clrDgSingleSelected)]="cSelection">
      <clr-dg-column *ngFor="let header of columnDefs">{{header.headerName}}</clr-dg-column>
      <clr-dg-row *clrDgItems="let defintion of definitionList | filter : searchText  index as i"
        [clrDgItem]="defintion">
        <clr-dg-cell>{{i+1}}</clr-dg-cell>
        <clr-dg-cell>{{defintion.id}}</clr-dg-cell>
        <clr-dg-cell>{{defintion.createdAt| date : 'yyyy/MM/dd h:mm:ss a'}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-placeholder>We couldn't find any defintion</clr-dg-placeholder>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} defintion
          <clr-dg-page-size [clrPageSizeOptions]="[2,5,10]">defintion per page</clr-dg-page-size>
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
<div class="dataarea" *ngIf="isCardView">
  <div class="card" *ngFor="let item of definitionList | filter : searchText">
    <div class="card-block">
      <h3 class="card-title">{{item.id}}</h3>
      <div class="card-text">
        <h4>Definitions ID</h4>
        <div class="id-list">
          <div class="clr-row">
            <div class="clr-col-6">
              <span>{{item.accessPolicyId}}</span>
            </div>
            <div class="clr-col-6">
              <span>{{item.contractPolicyId}}</span>
            </div>
          </div>
        </div>
        <h4>Validity</h4>
        <div class="validity">
          <span>{{item.validity | date : 'yyyy/MM/dd'}}</span>
        </div>
        <h4>Criteria</h4>
        <table class="table">
          <thead>
            <tr>
              <th>operandLeft</th>
              <th>operator</th>
              <th>operandRight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{item.criteria[0].operandLeft}}</td>
              <td>{{item.criteria[0].operator}}</td>
              <td>{{item.criteria[0].operandRight}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <label>{{item.createdAt | date : 'yyyy/MM/dd h:mm:ss a'}}</label>
      <button class="btn btn-sm btn-danger" (click)="delete(item.id)">Delete</button>
    </div>
  </div>
</div>