.container {
  width: 80%;
  margin: auto;
}
.my-info {
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #eee;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
}
.my-info-img {
  display: flex;
  align-items: center;
}
.my-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 50px;
  padding: 20px 20px;
  align-items: center;
  fill: black;
}
.my-info-title {
  align-items: start;
}
.title {
  margin-top: 40px;
  font-weight: bolder;
}
.info span {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  padding-top: 10px;
}

.ach {
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
.ach p {
  text-align: center;
}
.tag_1 {
  color: white;
  font-size: 16px;
  background-color: Crimson;
  border: 4px solid Crimson;
  border-radius: 18px;
}

.tag_2 {
  color: white;
  font-size: 16px;
  background-color: DarkTurquoise;
  border: 4px solid DarkTurquoise;
  border-radius: 18px;
  margin-top: 10px;
}

.tag_3 {
  color: white;
  font-size: 16px;
  background-color: MediumSeaGreen;
  border: 4px solid MediumSeaGreen;
  border-radius: 18px;
  margin-top: 10px;
}

.tag_4 {
  color: white;
  font-size: 16px;
  background-color: SteelBlue;
  border: 4px solid SteelBlue;
  border-radius: 18px;
  margin-top: 10px;
}

.tag_5 {
  color: white;
  font-size: 16px;
  background-color: Orange;
  border: 4px solid Orange;
  border-radius: 18px;
  margin-top: 10px;
}
.tag_6 {
  color: white;
  font-size: 16px;
  background-color: Plum;
  border: 4px solid Plum;
  border-radius: 18px;
  margin-top: 10px;
}
.message {
  margin-top: 30px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #d8d8d8;
  outline: none;
  color: black;
  font-size: 1.2em;
}
button clr-icon {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-right: 10px;
}
button:hover {
  opacity: 0.7;
}
.todolist {
  border: 1px solid gray;
  background-color: #eee;
  border-radius: 15px;
  height: 480px;
  margin-top: 20px;
}
.todolist h3 {
  font-weight: bolder;
  margin-bottom: 15px;
}
.usecard,
.todolist,
.sns {
  border: 1px solid gray;
  background-color: #eee;
  border-radius: 15px;
  width: 49.5%;
  height: 480px;
  margin-top: 20px;
  padding: 0px 20px;
}
.usecard {
  margin-bottom: 40px;
  margin-left: 1%;
}
.title_icon,
clr-icon {
  width: 40px;
  height: 40px;
  background-image: none;
  fill: black;
}
