<app-user-edit #useredit></app-user-edit>
<div class="container">
  <div class="container_title">
    <div class="title_icon"></div>
    <span class="title">User Information</span>
  </div>
  <div style="background-color:#333543; border-radius:10px; padding: 10px 10px; margin-top: 6px;">
    <div class="user_high">
      <span class="title">My Profile</span>
      <button class="btn btn-inverse" (click)="onEdit()">Edit</button>
    </div>
    <hr>
    <div class="clr-row">
      <div class="clr-col-6">
        <div class="user_img"></div>
        <span class="name"> User-Name</span>
      </div>
      <div class="clr-col-6">
        <span class="title">User-info</span>
        <div class="clr-row">
          <div class="clr-col-4">
            <label>User-info(1/7)</label>
          </div>
          <div class="clr-col-8">
            <label>User-info-data(1/7)</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
