<div class="container">
  <div class="container_title">
    <div class="title_icon"></div>
    <span class="title_text">Contract Agreement</span>
  </div>
  <div class="search-tool">
    <input class="search_input" type="search" [(ngModel)]="searchText" placeholder="Search Contract Agreement"
           rel="search"/>
  </div>
  <div class="data-area">
    <div class="dataset">
      <div class="data_title">
        <div class="dataset_icon"></div>
        <div class="text">
          <span class="dataset_text">Contract Agreement ID</span>
        </div>
      </div>
      <div class="dataset_content">
        <div class="clr-row">
          <div class="clr-col-12">
            <div class="fromto">
              <div class="clr-col-5 assi">
                <div class="dataset_icon"></div>
                <div class="text">
                  <span class="ass">consumer_agent_id</span><br>
                  <span class="ass-sub">urn:artifact:bitcoin2</span>
                </div>
              </div>
              <span class="clr-col-2 switch"><clr-icon shape="switch"></clr-icon></span>
              <div class="clr-col-5 assi">
                <div class="dataset_icon"></div>
                <div class="text">
                  <span class="ass">provider_agent_id</span><br>
                  <span class="ass-sub">urn:connector:provider</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h4>Contract Agreement ID Info</h4>
        <div class="clr-col-12">
          <div class="fromto">
            <div class="clr-col-5 asd">
              <span class="ass">start-end</span> <br>
              <span class="ass-sub">2022. 9. 23.</span>
            </div>
            <span class="clr-col-2 switch"><clr-icon shape="switch"></clr-icon></span>
            <div class="clr-col-5 asd">
              <span class="ass">start-end</span><br>
              <span class="ass-sub">2023. 9. 23.</span>
            </div>
          </div>
          <div class="fromto">
            <div class="clr-col-5 asd">
              <span class="ass">asset_id</span> <br>
              <span class="ass-sub">123-123-12312</span>
            </div>
            <span class="clr-col-2 switch"><clr-icon shape="switch"></clr-icon></span>
            <div class="clr-col-5 asd">
              <span class="ass">signing_date</span><br>
              <span class="ass-sub">2023. 9. 23.</span>
            </div>
          </div>
        </div>
        <div class="clr-col-12">
          <hr>
          <details>
            <summary>Policy</summary>
            Json data file.....
          </details>
        </div>
        <div class="setbtn">
          <button class="btn btn-primary">img Transfer</button>
        </div>
      </div>
    </div>
  </div>
</div>
