<clr-main-container>
    <div class="login-wrapper">
        <form class="login">
            <ng-container>
            <section class="title">
                    <span>VCP-X</span> <br>
                    Dashboard
            </section>
            <div class="login-group">
                <clr-select-container>
                    <label>Company</label>
                    <select clrSelect name="type">
                        <option value="local">Qusrf</option>
                        <option value="admin">NestField</option>
                    </select>
                </clr-select-container>
                <clr-input-container>
                    <label class="clr-sr-only">Username</label>
                    <input type="text" name="username" clrInput placeholder="Username" />
                </clr-input-container>
                <clr-password-container>
                    <label class="clr-sr-only">Password</label>
                    <input type="password" name="password" clrPassword placeholder="Password" />
                </clr-password-container>
                <clr-checkbox-wrapper>
                    <label>Remember me</label>
                    <input type="checkbox" name="rememberMe" clrCheckbox />
                </clr-checkbox-wrapper>
                <button type="submit" class="btn btn-primary">login</button>
            </div>
            </ng-container>
        </form>
    </div>
</clr-main-container>