.header, header-actions {
  position: flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: url('src/static/images/EDClogo.png') no-repeat 50% 50%;
  background-size: contain;
}

.logo-title {
  font-size: 30px;
}

.welcome-text {
  position: relative;
  margin-right: 20px;
  line-height: 60px;
}

.dropbtn {
  width: 128px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
}

.dropbtn clr-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.dropdown .dropdown-toggle {
  padding-left: 20px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.icon {
  width: 10px;
  height: 10px;
  background: url('src/static/images/icon_arrow_down_white.svg') no-repeat 50% 50%;
  background-size: contain;
  margin-left: 5px;
}
.content-area{
  background-color: black;
}