<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
    <div class="modal-title">
        Create Notice
    </div>
    <div class="modal-body body-format">
        <form clrForm class="clr-form clr-form-horizontal" clrLayout="horizontal">
            <div class="flex">
                <clr-input-container>
                    <label>Title*</label>
                    <input clrInput placeholder="Fill me in, scotty!" name="title" [(ngModel)]="name" required />
                    <clr-control-error>This field is required!</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Writer*</label>
                    <input class="writer_input" clrInput placeholder="Fill me in, Writer!" name="Writer" [(ngModel)]="writer" required />
                    <clr-control-error>This field is required!</clr-control-error>
                </clr-input-container>
            </div>
            <clr-textarea-container>
                <label>Content</label>
            </clr-textarea-container>
            <textarea name="content" id="" cols="30" rows="10"  placeholder="Put In your Contents"></textarea>
            <clr-input-container class="file_container">
                <label>File: </label>
                <input clrInput type="file" placeholder="Fill me in, scotty!" name="name" [(ngModel)]="name" />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
        </form>
        <div class="setbtn">
            <button class="btn btn-outline">Create</button>
            <button class="btn btn-warning-outline" (click)="close()">Cancel</button>
        </div>
    </div>
</clr-modal>