.flex input{
    width: 190px;
}
textarea{
    margin-top: 10px;
    padding: 10px 10px;
    width: 100%;
}
.writer_input{
    margin-left: 10px;
}
.file_container input{
    padding-bottom: 10px;
    margin-left: -40px ;
}
.flex{
    display: flex;
}