<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false"  [clrModalClosable]="false">
    <div class="modal-title">
       <h2>Deletion confirmation</h2>
    </div>
    <div class="modal-body body-format">
        <span class="delete-modal-text">
            Please confirm you want to delete policy time-restricted-policy.
            <br> This action cannot be undone.
        </span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" type="button" (click)="close()">Cancel</button>
        <button class="btn btn-warning" type="button">Delete</button>
    </div>
</clr-modal>