<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" [clrModalSize]="'lg'" *ngIf="historyList[0]">
    <h3 class="modal-title">{{id}}</h3>
    <div class="clr-row modal-body">
        <h4>Data Info</h4>
        <div class="clr-col-12"><span>Type : {{historyList[0].type}}</span></div>
        <div class="clr-col-5"><span>State : {{historyList[0].state}}</span></div>
        <div class="clr-col-7"><span>StateTimestamp : {{historyList[0].stateTimestamp |date : 'yyyy/mm/dd h:mm:ss a'}}</span>
        </div>
        <h4>Data Request</h4>
        <div class="clr-col-12"><span>ID : {{historyList[0].dataRequest.id}}</span></div>
        <div class="clr-col-12"><span>ContractID : {{historyList[0].dataRequest.contractId}}</span></div>
        <div class="clr-col-6"><span>AssetID : {{historyList[0].dataRequest.assetId}}</span></div>
        <div class="clr-col-6"><span>ConnectorID : {{historyList[0].dataRequest.connectorId}}</span></div>
        <h4>Data Destination</h4>
        <div class="clr-col-12"><span>BaseURL : {{historyList[0].dataDestination.properties.baseUrl}}</span></div>
        <div class="clr-col-4"><span>AuthKey : {{historyList[0].dataDestination.properties.authKey}}</span></div>
        <div class="clr-col-4"><span>AuthCode : {{historyList[0].dataDestination.properties.authCode}}</span></div>
        <div class="clr-col-4"><span>Type : {{historyList[0].dataDestination.properties.type}}</span></div>
        <h4>ErrorDetail</h4> <span class="clr-col-12">{{historyList[0].errorDetail}}</span>
    </div>
    <div class="modal-footer">
        <label>Create Date : {{item.createdAt | date : 'yyyy/MM/dd h:mm:ss a'}}</label>
        <label>Update Date : {{item.updatedAt | date : 'yyyy/MM/dd h:mm:ss a'}}</label>
    </div>
</clr-modal>