<div class="container">
  <div class="container_title">
    <div class="container_title">
      <div class="title_icon"></div>
      <span class="title_text"> Transfer History </span>
    </div>
    <div class="refresh">
      <button (click)="refresh()" class="onrefresh">
        <clr-icon shape="refresh"></clr-icon>
        Reload
      </button>
    </div>
  </div>
  <div class="datatable">
    <clr-datagrid class="customgrid sengee" #cDataGrid (clrDgRefresh)="gettransfer()"
    [clrDgRowSelection]="true" [(clrDgSingleSelected)]="cSelection" cDataLoading="true">
    <clr-dg-column *ngFor="let header of columnDefs">{{header.headerName}}</clr-dg-column>
    <clr-dg-row *ngFor="let item of historyList;  index as i" [clrDgItem]="item">
      <clr-dg-cell>{{item.AssetID}}</clr-dg-cell>
      <clr-dg-cell>{{item.ConnectorID}}</clr-dg-cell>
      <clr-dg-cell>{{item.ContractID}}</clr-dg-cell>
      <clr-dg-cell>{{item.ID}}</clr-dg-cell>
      <clr-dg-cell>{{item.LastUpdated}}</clr-dg-cell>
      <clr-dg-cell>{{item.State}}</clr-dg-cell>
      <clr-dg-cell>{{item.Create| date : 'yyyy/MM/dd h:mm:ss a'}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-placeholder>We couldn't find any Policy</clr-dg-placeholder>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Policy per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Policy
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
  </div>
</div>
