<div class="container">
    <div class="container_title">
        <div class="container_title">
            <div class="title_icon"></div>
            <span class="title_text"> Transfer History </span>
        </div>
    </div>
    <div class="refresh">
        <button (click)="refresh()" class="onrefresh"><clr-icon shape="refresh"></clr-icon>Reload</button>
    </div>
    <div class="datatable">
        <clr-datagrid #cDataGrid [(clrDgSingleSelected)]="cSelection" [clrDgRowSelection]="true"
            [clrDgLoading]="cDataLoading" (clrDgRefresh)="onRefresh()">
            <clr-dg-column *ngFor="let header of columnDefs">{{header.headerName}}</clr-dg-column>
            <clr-dg-row *ngFor="let history of historyList" [clrDgItem]="historyList">
                <clr-dg-cell *ngFor="let header of columnDefs">{{getField(history, header.field)}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-placeholder>We couldn't load any Transfer History</clr-dg-placeholder>
            <clr-dg-footer>
                <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="pagenationSize"
                    [clrDgTotalItems]="totalCount">
                    {{((page - 1)*pagenationSize)+1}} - {{(page - 1)*pagenationSize+1+pagenationSize}}
                    of more [total {{totalCount}}]
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>