.clr-row{
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
}
.clr-row input{
    width: 290px;
}
.login-wrapper .login .login-group .btn {
    margin: 0px 0px 0px 0px; 
    max-width: none;
}

