<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalClosable]="true">
  <h3 class="modal-title">Password Change</h3>
  <div class="modal-body body-format">
    <form #modalFrom="ngForm" class="clr-form clr-form-horizontal">
      <div class="clr-row">
        <h4>Enter a new password to change.</h4>
        <div class="clr-form-control">
          <label class="required clr-control-label">Old_Password</label>
          <div class="clr-control-container">
              <div class="clr-input-wrapper">
                  <input class="clr-input pwd-input" [type]="show1?'text':'password'" required
                         [ngModel]="getFormModel('password')" name="password" id="password"
                         placeholder='Password' #passwordInput="ngModel"
                         (input)='handleValidation("password" , false)'
                         (blur)='handleValidation("password", true)'>
                  <clr-icon *ngIf="!show1" shape="eye" class="pw-eye"
                            (click)="show1 =!show1"></clr-icon>
                  <clr-icon *ngIf="show1" shape="eye-hide" class="pw-eye"
                            (click)="show1 =!show1"></clr-icon>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <clr-control-error
                      *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                      Password is required.
              </clr-control-error>
          </div>
      </div>
      <div class="clr-form-control">
        <label class="required clr-control-label">New Password*</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input class="clr-input pwd-input" [type]="show2?'text':'password'" required
                       [ngModel]="getFormModel('npassword')" name="npassword" id="npassword"
                       placeholder='Password' #passwordInput="ngModel"
                       (input)='handleValidation("npassword" , false)'
                       (blur)='handleValidation("npassword", true)'>
                <clr-icon *ngIf="!show2" shape="eye" class="pw-eye"
                          (click)="show2 =!show2"></clr-icon>
                <clr-icon *ngIf="show2" shape="eye-hide" class="pw-eye"
                          (click)="show2 =!show2"></clr-icon>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <clr-control-error
                    *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                    Password is required.
            </clr-control-error>
        </div>
    </div>
    <div class="clr-form-control">
        <label class="required clr-control-label">Confirm Password</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input class="clr-input pwd-input" [type]="show3?'text':'password'" required
                       [(ngModel)]="npassword2" name="npassword2" id="npassword2"
                       placeholder='Password' #passwordInput="ngModel"
                       (input)='handleValidation("npassword2" , false)'
                       (blur)='handleValidation("npassword2", true)'>
                <clr-icon *ngIf="!show3" shape="eye" class="pw-eye"
                          (click)="show3 =!show3"></clr-icon>
                <clr-icon *ngIf="show3" shape="eye-hide" class="pw-eye"
                          (click)="show3 =!show3"></clr-icon>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <clr-control-error
                    *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                    Password is required.
            </clr-control-error>
        </div>
    </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="setbtn">
      <button class="btn btn-outline">Change</button>
      <button class="btn btn-warning-outline" (click)="close()">Cancel</button>
    </div>
  </div>
</clr-modal>