<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalClosable]="true">
  <h3 class="modal-title">Password Change</h3>
  <div class="modal-body body-format">
    <form clrForm>
      <div class="clr-row" >
        <clr-password-container>
          <label class="clr-col-4">Current Password</label>
          <input class="clr-col-8" placeholder="Put In Your Current Password" clrPassword
          type="password" [(ngModel)]="current_password" name="cpassword" pattern="pattern" required />
          <clr-control-helper>Enter a new password to change</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-password-container>
        <clr-password-container>
          <label class="clr-col-4">New Password</label>
          <input class="clr-col-8" placeholder="Put In Your New Password" clrPassword
          type="password" [(ngModel)]="new_password" name="npassword" pattern="pattern" required />
          <clr-control-helper>Password should be 8-20 characters</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-password-container>
        <clr-password-container>
          <label class="clr-col-4">Comfirm Password</label>
          <input class="clr-col-8" placeholder="Put In Your Comfirm Password" clrPassword
          type="password" [(ngModel)]="comfirm_password" name="cfpassword" pattern="pattern" required />
          <clr-control-helper>Please enter once more new password</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-password-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="setbtn">
      <button class="btn btn-outline">Change</button>
      <button class="btn btn-warning-outline" (click)="close()">Cancel</button>
    </div>
  </div>
</clr-modal>