<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
    <div class="modal-title">
      <div class="modal_icon"></div>
      Asset Detail
    </div>
    <div class="modal-body body-format" >
      <div class="modal-body">
        <clr-datagrid class="customgrid">
          <clr-dg-column>ID</clr-dg-column>
          <clr-dg-column>Type</clr-dg-column>
          <clr-dg-column>Path</clr-dg-column>
          <clr-dg-column>FileName</clr-dg-column>
          <clr-dg-row >
              <clr-dg-cell>4</clr-dg-cell>
              <clr-dg-cell>3</clr-dg-cell>
              <clr-dg-cell>2</clr-dg-cell>
              <clr-dg-cell>1</clr-dg-cell>
          </clr-dg-row>
      </clr-datagrid>
        </div>
      </div>
      <div class="modal-footer">
        <div class="setbtn">
          <button class="btn btn-warning" (click)="deleteAsset(id)">Delete</button>
          <button class="btn btn-primary" (click)="close()">Cancel</button>
        </div>
      </div>
</clr-modal>
