img {
  width: 550px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

span {
  color: black;
}
