<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" [clrModalClosable]="false" [clrModalSize]="'m'">
  <div class="modal-title">
    <clr-icon shape="info"></clr-icon>
    Create New Asset
  </div>
  <div class="modal-body body-format">
    <inline-alert class="modal-title" (confirmEvt)="confirmCancel($event)"></inline-alert>
    <form #modalFrom="ngForm" class="clr-form clr-form-horizontal" >
      <div class="clr-form-control" *ngFor="let item of newForm">
        <label class="required clr-control-label"
          [ngClass]="item.require?'form-required':''">{{item.text?.toUpperCase()}}</label>
        <div class="clr-control-container" [class.clr-error]='item.require && getValidationState(item.name!)'>
          <div class="clr-input-wrapper">
            <input [type]="item.type" class="clr-input" #usernameInput="ngModel" [name]="item.name!"
            [ngModel]="getFormModel(item.name!)" [placeholder]="item.placeholder" [id]="item.name!" size="30"
            (input)='handleValidation(item.name! , false) ' (blur)='handleValidation(item.name!, true)'
            [readOnly]="item.readonly == true" [required]="item.require">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <clr-control-error *ngIf='item.require &&  getValidationState(item.name!)'>
              Input Your {{item.text}}
              <ng-template [ngIf]="item?.placeholder !== undefined">
                ( ex : {{item.placeholder}})
              </ng-template>
            </clr-control-error>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="setbtn">
      <span class="spinner spinner-inline loading-top" [hidden]="inProgress === false"> </span>
      <button type="button" id="save-button" class="btn btn-outline" (click)="create()">Create</button>
      <button type="button" class="btn btn-warning-outline" (click)="close()">Close</button>
    </div>
  </div>
</clr-modal>