<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
  <div class="modal-title">
    Create New Contract Definition
  </div>
  <div class="modal-body body-format">
    <form clrForm clrLayout="vertical" class="clr-form clr-form-Compact">
      <clr-input-container>
        <label>ID*</label>
        <input clrInput name="id" required type="text" id="id" placeholder="Input Definition ID" [(ngModel)]="dp"/>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label>Access Policy*</label>
        <select clrSelect name="access" class="type-select" id="scanner-authorization" [(ngModel)]="ap"
                required>
          <option value="time">Time-Period-Restricted</option>
          <option value="usage">Connector-Restricted-Usage</option>
        </select>
        <clr-control-error>You must select Access option</clr-control-error>
      </clr-select-container>

      <clr-select-container>
        <label>Contract Policy*</label>
        <select clrSelect name="contract" class="type-select" id="scanner-authorization" [(ngModel)]="cp"
                required>
          <option value="time">Time-Period-Restricted</option>
          <option value="usage">Connector-Restricted-Usage</option>
        </select>
        <clr-control-error>You must select Policy option</clr-control-error>
      </clr-select-container>

      <div class="fromto">
        <clr-date-container>
          <label>Start Date</label>
          <input type="date" name="date" [(ngModel)]="startdate" clrDate required>
        </clr-date-container>
        <span>ㅡ </span>
        <clr-date-container>
          <label>End Date</label>
          <input type="date" name="date" [(ngModel)]="enddate" clrDate required>
        </clr-date-container>
      </div>

      <clr-textarea-container>
        <label>Selector_Expression</label>
        <textarea clrTextarea [(ngModel)]="description" name="expression"
                  placeholder="Put In Your Description (Ex Json..)" required></textarea>
      </clr-textarea-container>
    </form>
  </div>
  <div class="modal-footer">
    <div class="setbtn">
      <button class="btn btn-outline">Create</button>
      <button class="btn btn-warning-outline" (click)="close()">Cancel</button>
    </div>
  </div>
</clr-modal>
