form{
    margin-left: 50px;
}
input, select, clr-combobox, textarea{
    width: 400px;
    background-color: #eee;
}
.fromto{
    display: flex;
}
.fromto span {
    display: flex;
    align-items: center;
    margin: 35px 8px;
}
clr-date-container input{
    width: 150px;
}
clr-textarea-container{
    margin-top: -10px;
}
textarea{
    height: 100px;
    background-color: #eee;
}