.user {
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border: 5px solid #131313;
  border-radius: 135px;
}
clr-icon {
  fill: #131313;
}
.user clr-icon {
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
}
.my-info-title {
  margin-top: -20px;
}
.info span {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  padding-top: 5px;
}
.title {
  font-weight: bolder;
}
.modal-footer {
  justify-content: end;
  margin-top: 20px;
  margin-right: 5px;
}
