<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true" [clrModalClosable]="true">
    <div class="modal-title">
        <clr-icon shape="user"></clr-icon>
        <span>User Profile</span>
    </div>
    <div class="modal-body body-format">
        <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-md-6">
                <div class="user">
                    <clr-icon shape="user"></clr-icon>
                </div>
            </div>
            <div class="clr-col-sm-12 clr-col-md-6">
                <div class="user_info">
                    <label> Name : asd</label>
                    <label> Email : asd@gmail.com</label>
                    <label> Phone : 010-1234-5678</label>
                    <label> Company : asd</label>
                    <label> Position : asd</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
            Close
        </button>
    </div>
</clr-modal>