// datagrid
.datagrid{
  width: 100%;
  overflow-y: hidden;
}
.datagrid .datagrid-cell{
  line-height: 21.5px;
}
.datagrid-detail-caret.datagrid-cell {
  background: #333543;
}
.datagrid-detail-pane-content {
  background: #232323;
  height: 100%;
  top: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.datagrid-table .datagrid-placeholder .datagrid-placeholder-image {
  margin-top: 150px;
}
// verical nav
.main-container header, .main-container .header,
.clr-vertical-nav, .clr-vertical-nav .nav-trigger ,
.clr-vertical-nav .nav-trigger + .nav-content {
  background-color: #333543;
  border-top-color: #333543;
}

// button
.btn.btn-primary, .btn-primary .btn,
.btn.btn-danger, .btn-danger .btn {
  color: #eee;
}

/** modal */
.modal-dialog .modal-content {
  background-color: #131313;
}
.modal-header, .modal-header--accessible {
   border-bottom: none; 
   padding: 0 0 0 0; 
}
//wizard
.clr-wizard.wizard-lg .modal-dialog {
  min-height: 31rem;
  max-height: 32rem;
}
.clr-wizard 
.clr-wizard-page:not([aria-hidden=true]){
  display: flex;
  justify-content: center;
}
.clr-wizard .modal-body {
  margin-top: 30px;
}

.card {
  width: 24%;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-right: 13px;
  margin-top: 0px;
  border: none;
  border-radius: 5px;
  background-color: #333543;
  box-shadow: 3px 3px 3px rgb(108, 108, 108);
}

.table.table-vertical th:first-child, .table.table-vertical td:first-child,
.clr-accordion-header-button, .clr-accordion-inner-content,
clr-accordion {
  background-color: #333543;
  border: #eee;
}

.table th {
  background-color: #333543;
}