.login-wrapper .login {
  background: rgba(22, 193, 22, 0.716);
}
.login-wrapper .login .login-group .btn {
  margin: 0 0 0 0;
  background-color: rgb(20, 212, 255);
  border: none;
  color: white;
  margin-bottom: 20px;
}

.login-wrapper .login .login-group .skip {
  margin-top: 20px;
  margin: 0 0 0 0;
  background-color: rgb(134, 233, 255);
  border: none;
  color: white;
}
.login-wrapper .login .login-group {
  padding: 10px 0 0 0;
}
.clr-checkbox-wrapper .clr-control-label {
  color: white;
}

//mainhome
clr-header .header {
  background-color: aquamarine;
}
//accordion
.clr-accordion:not(.clr-stepper-forms) .clr-accordion-header-button {
  font-size: .6rem;
  font-size: var(--clr-accordion-header-button-font-size, 0.6rem);
  padding: 0.3rem 0.6rem;
  background: #eee;
  border: #eee;
  word-break: normal;
  line-height: 50px;
}
.clr-accordion:not(.clr-stepper-forms) .clr-accordion-inner-content {
  padding: 0.3rem 1.75rem;
  background-color: white;
  padding: 20px 30px;
}
//vertical nav
.main-container header,
.main-container .header,
.clr-vertical-nav,
.clr-vertical-nav .nav-trigger,
.clr-vertical-nav .nav-trigger:hover,
.clr-vertical-nav .nav-trigger + .nav-content {
  background-color: #26c000;
  border-top-color: rgba(22, 193, 22, 0.716);
  border: none;
  outline: none;
  color: white;
}

.clr-vertical-nav .nav-link.active {
  color: #fff;
  background-color: lightgreen;
  position: relative;
}

h4:not([cds-text]),h5:not([cds-text]) {
  text-align: start;
  line-height: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: bolder;
  color: black;
}

.drop-btn,
.drop-btn span {
  margin-right: 20px;
  color: white;
}

.clr-vertical-nav .nav-group-text, .clr-vertical-nav .nav-text {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

//tabs
.nav .nav-link:hover, .nav .nav-link.active {
  box-shadow: none;
  box-shadow: 0 -0.15rem 0 var(--clr-nav-active-box-shadow-color, hsl(140, 100%, 33%)) inset;
  color: #131313;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 18px;
}
.clr-col-12 {
  padding: 0px 0px ;
  margin : 0px 0px;
}

// button
.btn.btn-primary, .btn-primary .btn,
.btn.btn-danger, .btn-danger .btn {
  color: #eee;
}

/** modal */
.modal-dialog .modal-content {
  background-color: #131313;
}
.modal-header, .modal-header--accessible {
   border-bottom: none;
   padding: 0 0 0 0;
}
//wizard
.clr-wizard.wizard-lg .modal-dialog {
  min-height: 33rem;
  max-height: 35rem;
}

.clr-wizard .modal-body {
  margin-top: 30px;
}

.card {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 3px 3px 3px rgb(48, 48, 48);
}

.table.table-vertical th:first-child, .table.table-vertical td:first-child,
.clr-accordion-header-button, .clr-accordion-inner-content,
clr-accordion {
  background-color: #333543;
  border: #eee;
  word-break: normal;
}

.table th {
  background-color: #333543;
}

.clr-row{
  margin: 0px 0px;
}
.clr-row h4, h4 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
}
h4,h3, h3 .card-header{
  font-weight: bolder;
}
clr-icon {
  width: 35px;
  height: 35px;
  fill: black;
  margin-right: 5px;
}

//datagrid
.datagrid-table .datagrid-placeholder.datagrid-empty {
  background: white;
}
.datagrid-table .datagrid-column {
  background: white;
  color: black;
}
.datagrid-table .datagrid-column .datagrid-column-title {
  font-size: 15px;
  color: black;
  padding: 10px 10px;
}
.datagrid-table .datagrid-placeholder .datagrid-placeholder-image {
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.table{
  margin: 0px;
  border: none;
}
.table th, .table td{
  padding-left: 20px;
  background-color: white;
  height: 30px;
  color: #131313;
  text-align: left;
  text-overflow: ellipsis;
}
.table thead th{
  font-size: 1.1em;
}

td{
  font-size: 1.1em;
  border-top: 0.5px solid #131313;
}

body p:not([cds-text]) {
  padding: 0px 0px;
  margin: 0px 0px;
}
.modal-dialog .modal-content {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 99;
}

.modal-footer {
  padding: 0px 0px;
  margin-top: 0px;
  outline: none;
  display: flex;
  justify-content: center;
}

button{
  outline: none;
}

.btext {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.card-header, .card-block, .card-footer {
  padding: 0px 10px;
}

.datagrid-table .datagrid-cell.datagrid-fixed-width {
  text-overflow: clip;
  flex: 0 0 auto;
  align-items: center;
  display: flex;
}
.datagrid-table .datagrid-cell {
  display: flex;
  flex: 1 1 auto;
  text-align: left;
  min-width: 4.8rem;
  border: none;
  align-items: center;
  text-overflow: clip;
  color: black;
  font-weight: bolder;
  text-align: center;
  padding-left: 20px;
}

.clr-form-horizontal .clr-form-control>
.clr-control-label, .clr-form-horizontal .clr-form-control>
.clr-form-control.clr-form-control-multi .clr-control-label {
  color: black;
  font-weight: bold;
}
.modal-body-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0.15rem;
  margin-top: 10px;
  overflow: hidden
}
.datagrid-table .datagrid-cell.datagrid-fixed-column {
  flex: 0 0 1.9rem;
  max-width: 1.9rem;
  min-width: 1.9rem;
  padding: 0px 0px 0px 8px;
}
.clr-wizard .clr-wizard-page {
  overflow-y: hidden;
  flex-grow: 1;
  width: 100%;
  position: relative;
  margin: 0px 0px;
}
.clr-wizard .modal-header, .clr-wizard .modal-header--accessible {
  flex: 0 0 auto;
  width: 100%;
  padding: 1.2rem 0.95rem 0.3rem 1.2rem;
  border-bottom: 1px solid black;
}
.clr-wizard .modal-body-wrapper {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}
clr-wizard-page{
  padding: 0px 0px;
  margin: 0px 0px;
}
.clr-wizard .clr-wizard-page{
  overflow-x: hidden;
}
.clr-wizard .clr-wizard-page:not([aria-hidden=true]) {
  overflow-y: auto;
  margin-top: -50px;
  padding: 1.2rem;
  padding-top: 0.9rem;
  display: block;
}
@media (max-width:1680px){
  .clr-wizard .modal-body-wrapper {
    overflow: auto;
  }
}
textarea{
  resize: none;
}
