@font-face {
  font-family: "CreditCard";
  src: url(https://cdn.flnf.hu/fonts/credit-card.otf) format("opentype"),
    url(https://cdn.flnf.hu/fonts/credit-card.ttf) format("truetype");
}

@font-face {
  font-family: "Aletheia";
  src: url(https://cdn.flnf.hu/fonts/aletheia.otf) format("opentype"),
    url(https://cdn.flnf.hu/fonts/aletheia.ttf) format("truetype");
}

html {
  font-size: 14px;
  line-height: 1.1rem;
}
hr {
  width: 80%;
}
svg {
  display: block;
  color: white;
}
/* content-area css */
.container_title {
  display: flex;
  align-items: center;
}

.title_text {
  color: #191919;
  font-size: 30px;
}

.title_icon,
.dataset_icon,
.modal_icon {
  width: 50px;
  height: 50px;
}

.title_icon,
.dataset_icon {
  background: url("src/static/images/EDClogo.png") 50% 50% no-repeat;
  background-size: contain;
}

/* search-tool */
.search-tool {
  position: relative;
  top: -10px;
}

.search_input {
  background: url("src/static/images/icon_search_white.svg") #eee no-repeat 4%
    50%;
  outline: none;
  border: none;
  text-indent: 40px;
  width: 400px;
  border-radius: 5px;
  height: 45px;
  border: 2px black solid;
}

.createbtn,
.searchbtn {
  position: relative;
  top: 18px;
  width: 47px;
  height: 47px;
  border-radius: 10px;
  margin-left: 10px;
}

.createbtn {
  background: url(static/images/icon_modify_white.svg) 100% 50% no-repeat
    #333544;
  background-size: contain;
}

.searchbtn {
  background: url(static/images/icon_search_white.svg) 50% 50% no-repeat #333544;
}

/* button */
.createbtn:hover,
.searchbtn:hover,
.deletebtn:hover {
  opacity: 0.7;
}

.setbtn {
  margin-top: 20px;
  justify-content: end;
  color: #eee;
}

button {
  border-radius: 10px;
  outline: none;
  border: none;
  color: #eee;
}

.option-btn button {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: #333544;
}

/*modal*/
.modal-title clr-icon {
  width: 40px;
  height: 40px;
}

/*clr Tool*/
.tool {
  display: flex;
  justify-content: space-between;
}
.cardgrid clr-icon {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 5px;
}
.refresh-btn clr-icon,
.searchbtn clr-icon {
  width: 25px;
  height: 25px;
}

/* datagrid */
.customgrid {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #eeeeee;
  border: 1px solid black;
}

.customgrid .datagrid {
  border-width: 0px;
  border-color: #eeeeee;
  margin-top: 0px;
}

.customgrid.sengee .datagrid-row-sticky {
  display: none;
}

.customgrid.multi .datagrid-row-sticky {
  background-color: transparent;
}

.customgrid .datagrid-table .datagrid-placeholder {
  background-color: transparent;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

/*data area*/
.dataarea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0px;
}
/* card table */
.table {
  border-radius: 5px;
}
th,
td {
  background-color: #333543;
}
.clr-row {
  position: relative;
  top: -10px;
}
.table {
  margin-top: 5px;
}
h4 {
  font-weight: bold;
}
.dataarea .card .card-header {
  font-weight: bolder;
}

/*event page*/
/*Flexbox Cards*/
.cards {
  display: flex;
  flex-flow: row wrap;
}

.card-item {
  display: flex;
  width: 100%;
  padding: 0.5em;
}

/* ===== == = === 37.5em (600px) === = == ===== */
@media all and (min-width: 37.5em) {
  .card-item {
    width: calc(100% / 12 * 6);
  }
}
/* ===== == = === 56.25em (900px) === = == ===== */
@media all and (min-width: 56.25em) {
  .card-item {
    width: calc(100% / 12 * 4);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  background-color: #f8fff8;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-body p {
  flex: 1 0 auto;
  margin: 0;
}

.card-img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.card-img:hover {
  opacity: 0.8;
}

.card-title,
.card-text,
.card-footer {
  padding: 1em 1em 0;
}

.card-footer {
  margin-bottom: 1em;
}
.tag {
  color: white;
  font-size: 16px;
  background-color: MediumSeaGreen;
  border: 4px solid MediumSeaGreen;
  border-radius: 18px;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.btext {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.title {
  display: flex;
  align-items: center;
}
.title_text {
  font-weight: bolder;
}
