label,span,p,textarea,h1,h2,h3,h4,h5,th,td,title{color: white;}
hr {
  width: 80%;
}
/* content-area css */
.container_title {
  display: flex;
  align-items: center;
}

.title_text {
  color: #eee;
  font-size: 30px;
}

.title_icon,.dataset_icon,.modal_icon {
  width: 50px;
  height: 50px;
}

.title_icon,.dataset_icon {
  background: url("src/static/images/EDClogo.png") 50% 50% no-repeat;
  background-size: contain;
}

/* search-tool */
.search-tool {
  position: relative;
  top: -10px;
}

.search_input {
  background: url("src/static/images/icon_search_white.svg") #eee no-repeat 4% 50%;
  outline: none;
  border: none;
  text-indent: 40px;
  width: 400px;
  border-radius: 5px;
  height: 45px;
  border: 2px black solid;
}

.createbtn,.searchbtn {
  position: relative;
  top: 18px;
  width: 47px;
  height: 47px;
  border-radius: 10px;
  margin-left: 10px;
}

.createbtn {
  background: url(static/images/icon_modify_white.svg) 100% 50% no-repeat #333544;
  background-size: contain;
}

.searchbtn {
  background: url(static/images/icon_search_white.svg) 50% 50% no-repeat #333544;
}

/* button */
.createbtn:hover,.searchbtn:hover,.deletebtn:hover {
  opacity: 0.7;
}

.setbtn {
  margin-top: 20px;
  justify-content: end;
  color: #eee;
}

button {
  border-radius: 10px;
  outline: none;
  border: none;
  color: #eee;
}

.option-btn button {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: #333544;
}

/*modal*/
.modal-title clr-icon {
  width: 40px;
  height: 40px;
}

/*clr Tool*/
.tool {
  display: flex;
  justify-content: space-between;
}
.cardgrid clr-icon {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 5px;
}
.refresh-btn clr-icon,
.searchbtn clr-icon  {
  width: 25px;
  height: 25px;
}

/* datagrid */
.customgrid {
  width: 100%;
  height: 100%;
  min-height: 675px;
  padding: 5px;
  border-radius: 15px;
  background-color: #333544;
}

.customgrid .datagrid {
  border-width: 0px;
  border-color: #EEEEEE;
  margin-top: 0px;
}

.card-footer{
  display: flex;
  justify-content:space-between;
}
/*.customgrid .datagrid-row,
.customgrid .datagrid-row-scrollable,*/
.customgrid .datagrid-placeholder-container {
  background-color: #333544;
}

.customgrid .datagrid-header .datagrid-column {
  background-color: #333544;
}

.customgrid .datagrid-row{
  background-color: #333544;
}


.datagrid-row.datagrid-selected {
  background-color: #324f62 !important;
}

.customgrid .datagrid .datagrid-column-title {
  display: flex;
  justify-content: center;
  color: #EEEEEE;
  font-size: 14px;
}

.customgrid .datagrid .datagrid-column,
.datagrid .datagrid-cell {
  padding: 1rem 0.6rem;
}

.customgrid .datagrid .datagrid-table .datagrid-cell {
  display: flex;
  justify-content: center;
  color: #EEEEEE;
  letter-spacing: -0.49px;
  font-size: 14px;
}

.customgrid .datagrid-footer {
  background-color: #333544;
  border-width: 0px;
  border-top: 1px solid;
  font-size: 16px;
  padding: 0.6rem;

}

.customgrid .datagrid-table .datagrid-cell:focus {
  outline: none;
  outline-offset: none;
}

.customgrid .datagrid-spinner {
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 15px;
}

.customgrid.sengee .datagrid-row-sticky {
  display: none;
}

.customgrid.multi .datagrid-row-sticky {
  background-color: transparent;
}

.customgrid .datagrid-table .datagrid-placeholder {
  background-color: transparent;
}

/*data area*/
.dataarea{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0px;
}
/* card table */
.table{
  border-radius: 5px;
}
th, td{
  background-color: #333543;
}
.clr-row{
  position: relative;
  top: -10px;
}
.table{
  margin-top: 5px;
}
h4 {
  font-weight: bold;
}
.dataarea .card .card-header {
  font-weight: bolder;
}