<app-dudwnwmd1 #tnwmd1></app-dudwnwmd1>
<app-dudtnwmd2 #tnwmd2></app-dudtnwmd2>
<h3>나의 결제 내역</h3>

<clr-datagrid class="customgrid sengee" #cDataGrid (clrDgRefresh)="getcamp()" [clrDgLoading]="cDataLoading"
  [clrDgRowSelection]="true" [(clrDgSingleSelected)]="cSelection">
  <clr-dg-column *ngFor="let header of columnDefs">{{header.headerName}}</clr-dg-column>
  <clr-dg-row *clrDgItems="let item of campList | filter : searchText;  index as i" [clrDgItem]="item"
    (click)="dudwnwmd(item.id)">
    <clr-dg-cell>{{item.reserveID}}</clr-dg-cell>
    <clr-dg-cell>{{item.campname}}</clr-dg-cell>
    <clr-dg-cell>{{item.startDate}} ~ {{item.endDate}}</clr-dg-cell>
    <clr-dg-cell>{{item.value}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="2">
      <clr-dg-page-size [clrPageSizeOptions]="[2,5,10,20]"></clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} 예약
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>