<app-user-create #usercreate></app-user-create>
<div class="container">
    <div class="container_title">
        <div class="title">
            <clr-icon class="icon" shape="user"></clr-icon>
            <span class="title_text"> Quantumsurf User</span>
        </div>
    </div>
    <div class="edit-tool">
        <div class="search-tool">
            <input class="search_input" type="search" [(ngModel)]="searchText" placeholder="Search Catalog Browser"
                rel="search" />
        </div>
        <div class="option-btn">
            <button class="create" (click)="onCreate()"><clr-icon shape="users"></clr-icon></button>
        </div>
    </div>
    <div class="user-table">
        <clr-datagrid #cDataGrid [(clrDgSingleSelected)]="cSelection" [clrDgRowSelection]="true"
            [clrDgLoading]="cDataLoading" (clrDgRefresh)="onRefresh()">
            <clr-dg-column *ngFor="let header of columnDefs">{{header.headerName}}</clr-dg-column>
            <clr-dg-row *ngFor="let history of historyList | filter:searchText" [clrDgItem]="historyList">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="onEdit()">Edit</button>
                    <button class="action-item" (click)="onDelete()">Delete</button>
                </clr-dg-action-overflow>
                <clr-dg-cell *ngFor="let header of columnDefs">{{getField(history, header.field)}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-placeholder>We couldn't load any Transfer History</clr-dg-placeholder>
            <clr-dg-footer>
                <clr-dg-pagination #pagination [(clrDgPage)]="page" [clrDgPageSize]="pagenationSize"
                    [clrDgTotalItems]="totalCount">
                    {{((page - 1)*pagenationSize)+1}} - {{(page - 1)*pagenationSize+1+pagenationSize}}
                    of more [total {{totalCount}}]
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>